/***
    The new CSS reset - version 1.9 (last updated 19.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/**
GLOBAL SETUP
*/


:root {
    --font-body: 'Segoe UI Normal', 'Segoe UI', Helvetica Neue, Helvetica,Arial,sans-serif, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', sans-serif;
    --font-bold: 'Segoe UI Bold', 'Segoe UI', Helvetica Neue, Helvetica,Arial,sans-serif, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', sans-serif;
    font-family: var(--font-body);
}

body {
    font-size: 16px;
    font-family: var(--font-body);
}

textarea::placeholder,
input::placeholder {
    font-size: 1.2rem;
}

/**
SITE SKELETON
 */
section,
.section {
    display: flex;
    justify-content: center;
    scroll-margin-top: 3rem;
}

footer {
    --s: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 0 1rem 0;
    background: var(--disabled, grey);

    &:before {
        content: "";
        position: absolute;
        height: 0.4rem;
        top: -0.4rem;
        left: 0;
        right: 0;

        background: repeating-conic-gradient(var(--bg) 0 25%, var(--disabled) 0 50%) 0 0/var(--s) var(--s) round;
        pointer-events: none;
    }
}

footer > div,
section > div,
.section > * {
    padding: 1rem 1rem 0;
    width: 100%;
}

@media (min-width: 500px) {
    footer > div,
    section > div,
    .section > * {
        padding: 0 4rem 0;
    }
}

@media (min-width: 1300px) {
    footer > div,
    section > div,
    .section > * {
        padding: 0 4rem;
    }
}

footer > div,
section.medium > div,
.section.medium > * {
    max-width: 900px;
}

section.large > div,
.section.large > * {
    max-width: 1400px;
}

/**
UTILITIES
 */
ul.list {
    margin-top: 1rem;
}
ul.list li {
      list-style: disc;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
p, label {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.py-2 {
    padding: 2rem 0;
}

.largeTitle {
    font-size: 2.5rem;
}

.mediumTitle {
    font-size: 2rem;
}

.smallText {
    font-size: 0.8rem;
}

.center {
    text-align: center;
}

b {
    font-weight: bold;
}
